.header-container.isFixed {
  position: fixed;
  width: 100%;
  top: -70px;
  left: 0;
  right: 0;
  z-index: 4;
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
  -webkit-transition: transform 500ms ease, background 500ms ease;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
  background: rgba(121, 121, 121, 0.961);
  background: transparent;
}

.header-container.isFixed .header-right {
  margin-top: 36px;
  float: right;
}

.header-container.isFixed .header-center {
  float: left;
  width: 70%;
  margin-top: 5px;
  line-height: 110px;
}

.header-container.isFixed .header .form-search .input-text {
  width: 515px;
}

.header-container.isFixed .top-header.hidden-xs {
  display: none;
}
