<?xml version="1.0"?>
<config>
	<modules>
		<DDE_Jadlog>
			<version>1.0.0.22</version>
			<depends>
				<Mage_Shipping />
			</depends>
		</DDE_Jadlog>
	</modules>
	<adminhtml>
		<translate>
			<modules>
				<DDE_Jadlog>
					<files>
						<default>DDE_Jadlog.csv</default>
					</files>
				</DDE_Jadlog>
			</modules>
		</translate>
	</adminhtml>
	<global>
		<models>
			<jadlogmethod>
				<class>DDE_Jadlog_Model</class>
				<resourceModel>jadlogmethod_mysql4</resourceModel>
			</jadlogmethod>
			<jadlogmethod_mysql4>
				<class>DDE_Jadlog_Model_Mysql4</class>
				<entities>
					<cep>
						<table>jadlogmethod_cep</table>
					</cep>
				</entities>
			</jadlogmethod_mysql4>
		</models>
		<resources>
			<jadlogmethod_setup>
				<setup>
					<module>DDE_Jadlog</module>
					<class>DDE_Jadlog_Model_Resource_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</jadlogmethod_setup>
			<jadlogmethod_write>
				<connection>
					<use>core_write</use>
				</connection>
			</jadlogmethod_write>
			<jadlogmethod_read>
				<connection>
					<use>core_read</use>
				</connection>
			</jadlogmethod_read>
		</resources>
		<helpers>
			<jadlogmethod>
				<class>DDE_Jadlog_Helper</class>
			</jadlogmethod>
		</helpers>
		<sales>
			<shipping>
				<carriers>
					<jadlogmethod>
						<class>DDE_Jadlog_Model_Carrier_Jadlogmethod</class>
					</jadlogmethod>
				</carriers>
			</shipping>
		</sales>
	</global>

	<default>
		<carriers>
			<jadlogmethod>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<model>DDE_Jadlog_Model_Carrier_Jadlogmethod</model>
				<title>Transportadora Jadlog</title>
			</jadlogmethod>
		</carriers>
	</default>
</config>
