<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <codesheep_cielo>
            <version>0.9.6</version>
        </codesheep_cielo>
    </modules>
    <global>
		<models>
			<cielo>
				<class>Codesheep_Cielo_Model</class>
			</cielo>
	    </models>
		<helpers>
			<cielo>
				<class>Codesheep_Cielo_Helper</class>
			</cielo>
		</helpers>
		<resources>
			<cielo_setup>
				<setup>
					<module>Codesheep_Cielo</module>
				</setup>
			</cielo_setup>
		</resources>	
		<blocks>
			<cielo>
				<class>Codesheep_Cielo_Block</class>
			</cielo>
		</blocks>
		<sales>
	        <quote>
	            <totals>
	                <encargo>
	                    <class>cielo/total_encargo</class>
											<after>subtotal, tax</after>
	                    <before>grand_total</before>
	                </encargo>
	            </totals>
	        </quote>
	    </sales>
		<fieldsets>
          <!-- copies data from quote address to order during the order placement -->
          <sales_convert_quote_address>
              <base_encargo><to_order>*</to_order></base_encargo>
              <encargo><to_order>*</to_order></encargo>
          </sales_convert_quote_address>

          <!-- copies data from order to invoice/shipment/creditmemo during their creation -->
          <sales_convert_order>
              <base_encargo><to_invoice>*</to_invoice><to_shipment>*</to_shipment><to_cm>*</to_cm></base_encargo>
              <encargo><to_invoice>*</to_invoice><to_shipment>*</to_shipment><to_cm>*</to_cm></encargo>
          </sales_convert_order>
      </fieldsets>
	  <payment>
		<cc>
			<types>
				<AG>
					<code>AG</code>
					<name>Agiplan</name>
					<order>20</order>
				</AG>
				<CB>
					<code>CB</code>
					<name>Cabal</name>
					<order>30</order>
				</CB>
				<CS>
					<code>CS</code>
					<name>Credsystem</name>
					<order>40</order>
				</CS>
				<CZ>
					<code>CZ</code>
					<name>Credz</name>
					<order>50</order>
				</CZ>
				<DC>
					<code>DC</code>
					<name>Diners</name>
					<order>60</order>
				</DC>
				<EL>
					<code>EL</code>
					<name>Elo</name>
					<order>70</order>
				</EL>
				<SC>
					<code>SC</code>
					<name>Sorocred</name>
					<order>80</order>
				</SC>
			</types>
		</cc>
	  </payment>
	</global>
		<frontend>
	      <routers>
	          <cielo>
	              <use>standard</use>
	              <args>
	                  <module>Codesheep_Cielo</module>
	                  <frontName>cielo</frontName>
	              </args>
	          </cielo>
	      </routers>
		</frontend>		
		<default>
			<payment>
				<cielo>
					<active>1</active>
					<model>cielo/standard</model>
					<title>Credicard</title>
					<order_status>processing</order_status>
					<cctypes>VI,MC,AE,DI,DC,EL</cctypes>
					<payment_action>authorize</payment_action>
					<allowspecific>0</allowspecific>
				</cielo>
			</payment>
		</default>
</config>