<?xml version="1.0"?>
<config>
  <modules>
    <DDE_Bannercreator>
      <version>1.0.0</version>
    </DDE_Bannercreator>
  </modules>
  <global>
    <helpers>
      <bannercreator>
        <class>DDE_Bannercreator_Helper</class>
      </bannercreator>
    </helpers>
	<blocks>
	  <bannercreator>
		<class>DDE_Bannercreator_Block</class>
	  </bannercreator>
	</blocks>
	<models>
	  <bannercreator>
		<class>DDE_Bannercreator_Model</class>
		<resourceModel>bannercreator_mysql4</resourceModel>
	  </bannercreator>
	  <bannercreator_mysql4>
		<class>DDE_Bannercreator_Model_Mysql4</class>
		<entities>		  
			  <bannercreator>
				<table>banner_creator</table>
			  </bannercreator>
        </entities>
	  </bannercreator_mysql4>
	</models>
	<resources>
	  <bannercreator_setup>
		<setup>
		  <module>DDE_Bannercreator</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </bannercreator_setup>
	  <bannercreator_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </bannercreator_write>
	  <bannercreator_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </bannercreator_read>
	</resources>
  </global>
  <frontend>
  	<layout>
        <updates>
            <bannercreator>
                <file>dde_bannercreator.xml</file>
            </bannercreator>
        </updates>
    </layout>
  </frontend>
  <admin>
	<routers>
	  <bannercreator>
	    <use>admin</use>
		<args>
		  <module>DDE_Bannercreator</module>
		  <frontName>admin_bannercreator</frontName>
		</args>
	  </bannercreator>
	</routers>
  </admin>
  <adminhtml>
	<menu>
		<cms>
			<children>
			  <bannercreator module="bannercreator">
				<title>Criador de Banners</title>
				<sort_order>100</sort_order>
				<children>
				  <bannercreator module="bannercreator">
				    <title>Gerenciar</title>
					<sort_order>0</sort_order>
					<action>admin_bannercreator/adminhtml_bannercreator</action>
				  </bannercreator>
				</children>
			  </bannercreator>
			</children>
		</cms>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
		  	<cms>
		  		<children>
					<bannercreator translate="title" module="bannercreator">
					  <title>Bannercreator</title>
					  <sort_order>1000</sort_order>
					  <children>
						  <bannercreator translate="title">
							<title>Manage Bannercreator</title>
							<sort_order>0</sort_order>
						  </bannercreator>
					  </children>
					</bannercreator>
		  		</children>
			</cms>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<bannercreator>
		  <file>bannercreator.xml</file>
		</bannercreator>
	  </updates>
	</layout>
  </adminhtml>
</config> 