<?xml version="1.0"?>  
<config>  
    <modules>
        <Mandae_Shipping>
            <version>1.1.1</version>
        </Mandae_Shipping>
    </modules>
    <global>
        <blocks>
            <mandae>
                <class>Mandae_Shipping_Block</class>
            </mandae>
        </blocks>
        <helpers>
            <mandae>
                <class>Mandae_Shipping_Helper</class>
            </mandae>
        </helpers>
        <models>
            <mandae>
                <class>Mandae_Shipping_Model</class>
            </mandae>
        </models>
        <resources>
            <mandae_setup>
                <setup>
                    <module>Mandae_Shipping</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mandae_setup>
            <mandae_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mandae_write>
            <mandae_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mandae_read>
        </resources>
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <volume_altura/>
                        <volume_comprimento/>
                        <volume_largura/>
                    </product_attributes>
                </item>
            </quote>
            <shipping>
                <carriers>
                    <mandae>
                        <class>Mandae_Shipping_Model_Carrier_Mandae</class>
                    </mandae>
                </carriers>
            </shipping>
        </sales>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Mandae_Shipping>
                    <files>
                        <default>Mandae_Shipping.csv</default>
                    </files>
                </Mandae_Shipping>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Mandae_Shipping>
                    <files>
                        <default>Mandae_Shipping.csv</default>
                    </files>
                </Mandae_Shipping>
            </modules>
        </translate>
    </frontend>
    <default>
        <carriers>
            <mandae>
                <active>0</active>
                <environment>sandbox</environment>
                <model>mandae/carrier_mandae</model>
                <title>Mandaê</title>
                <allowed_methods>rapido,economico,expresso,same-day</allowed_methods>
                <weight_type>g</weight_type>
                <freeshipping_method>economico</freeshipping_method>
                <free_method_text>Frete Grátis</free_method_text>
                <message_deadline>%s - Prazo de entrega %d dias úteis</message_deadline>
                <showmethod>0</showmethod>
                <specificerrmsg>Esse método de envio está indisponível no momento.</specificerrmsg>
                <handling_type>F</handling_type>
                <dimensions_type>cm</dimensions_type>
                <attribute_height>volume_altura</attribute_height>
                <attribute_width>volume_largura</attribute_width>
                <attribute_length>volume_comprimento</attribute_length>
            </mandae>
        </carriers>
    </default>
</config>
