<?xml version="1.0"?><!--
-->
<config>
    <modules>
        <Licentia_Fidelitas>
            <version>2.6.1.6</version>
        </Licentia_Fidelitas>
    </modules>
    <frontend>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <update_subscriber_auto>
                        <class>fidelitas/observer</class>
                        <method>addToAutoList</method>
                    </update_subscriber_auto>
                    <fidelitas_update_autoresponders>
                        <class>fidelitas/autoresponders</class>
                        <method>newOrder</method>
                    </fidelitas_update_autoresponders>
                </observers>
            </sales_order_save_commit_after>
            <checkout_onepage_controller_success_action>
                <observers>
                    <egoimmerce_order_success>
                        <class>fidelitas/observer</class>
                        <method>setEgoimmerceOnOrderSuccessPageView</method>
                    </egoimmerce_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <egoimmerce_order_success>
                        <class>fidelitas/observer</class>
                        <method>setEgoimmerceOnOrderSuccessPageView</method>
                    </egoimmerce_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
        <routers>
            <fidelitas>
                <use>standard</use>
                <args>
                    <module>Licentia_Fidelitas</module>
                    <frontName>egoi</frontName>
                </args>
            </fidelitas>
        </routers>
        <layout>
            <updates>
                <fidelitas>
                    <file>fidelitas.xml</file>
                </fidelitas>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <fidelitas before="Mage_Adminhtml">Licentia_Fidelitas_Adminhtml</fidelitas>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <fidelitas_autoresponders_status>
                        <class>fidelitas/autoresponders</class>
                        <method>changeStatus</method>
                    </fidelitas_autoresponders_status>
                    <fidelitas_autoresponders_new_order>
                        <class>fidelitas/autoresponders</class>
                        <method>newOrder</method>
                    </fidelitas_autoresponders_new_order>
                </observers>
            </sales_order_save_commit_after>
            <sales_order_shipment_save_commit_after>
                <observers>
                    <fidelitas_autoresponders_shipment>
                        <class>fidelitas/autoresponders</class>
                        <method>newOrderDocument</method>
                    </fidelitas_autoresponders_shipment>
                </observers>
            </sales_order_shipment_save_commit_after>
            <sales_order_invoice_save_commit_after>
                <observers>
                    <fidelitas_autoresponders_invoice>
                        <class>fidelitas/autoresponders</class>
                        <method>newOrderDocument</method>
                    </fidelitas_autoresponders_invoice>
                </observers>
            </sales_order_invoice_save_commit_after>
            <sales_order_creditmemo_save_commit_after>
                <observers>
                    <fidelitas_autoresponders_creditmemo>
                        <class>fidelitas/autoresponders</class>
                        <method>newOrderDocument</method>
                    </fidelitas_autoresponders_creditmemo>
                </observers>
            </sales_order_creditmemo_save_commit_after>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <fidelitas>
                                            <title>E-Goi Section</title>
                                        </fidelitas>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <fidelitas>
                    <file>fidelitas.xml</file>
                </fidelitas>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <!-- <events>
            <newsletter_subscriber_save_after>
                <observers>
                    <fidelitas_update>
                        <class>fidelitas/subscribers</class>
                        <method>updateFromNewsletterCore</method>
                    </fidelitas_update>
                </observers>
            </newsletter_subscriber_save_after>
        </events> -->
        <models>
            <!-- <core>
                <rewrite>
                    <email>Licentia_Fidelitas_Model_Email</email>
                    <email_template>Licentia_Fidelitas_Model_Email_Template</email_template>
                </rewrite>
            </core> -->
            <fidelitas>
                <class>Licentia_Fidelitas_Model</class>
                <resourceModel>fidelitas_mysql4</resourceModel>
            </fidelitas>
            <fidelitas_mysql4>
                <class>Licentia_Fidelitas_Model_Mysql4</class>
                <entities>
                    <subscribers>
                        <table>fidelitas_subscribers</table>
                    </subscribers>
                    <lists>
                        <table>fidelitas_lists</table>
                    </lists>
                    <account>
                        <table>fidelitas_account</table>
                    </account>
                    <extra>
                        <table>fidelitas_extra</table>
                    </extra>
                    <autoresponders>
                        <table>fidelitas_autoresponders</table>
                    </autoresponders>
                    <events>
                        <table>fidelitas_autoresponders_events</table>
                    </events>
                </entities>
            </fidelitas_mysql4>
        </models>
        <resources>
            <fidelitas_setup>
                <setup>
                    <module>Licentia_Fidelitas</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </fidelitas_setup>
        </resources>
        <blocks>
            <fidelitas>
                <class>Licentia_Fidelitas_Block</class>
            </fidelitas>
        </blocks>
        <helpers>
            <fidelitas>
                <class>Licentia_Fidelitas_Helper</class>
            </fidelitas>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <fidelitas_send_autoresponders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/autoresponders::send</model>
                </run>
            </fidelitas_send_autoresponders>
            <fidelitas_sync_manually>
                <schedule>
                    <cron_expr>15 0 0 0 *</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/egoi::syncm</model>
                </run>
            </fidelitas_sync_manually>
            <fidelitas_sync_bulk>
                <schedule>
                    <cron_expr>15 3 * * 1</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/egoi::addSubscriberBulk</model>
                </run>
            </fidelitas_sync_bulk>
            <fidelitas_export_bulk>
                <schedule>
                    <cron_expr>15 3 1 1 1</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/egoi::exportBulk</model>
                </run>
            </fidelitas_export_bulk>
            <fidelitas_sync>
                <schedule>
                    <cron_expr>0 3 * * 0</cron_expr>
                </schedule>
                <run>
                    <model>fidelitas/egoi::sync</model>
                </run>
            </fidelitas_sync>
        </jobs>
    </crontab>
    <default>
        <fidelitas>
            <config>
                <api_key>0</api_key>
                <cellphone>telephone</cellphone>
            </config>
            <transactional>
                <enabled>0</enabled>
            </transactional>
        </fidelitas>
    </default>
</config>
