.add-to-cart button.button span{ font-size: 26px; }
button.btn-checkout span{ font-size: 18px; }
#checkout-review-submit button.btn-checkout span{ font-size: 16px; }
.mensagem-destaque p{ font-size: 18px; }