button.btn-checkout span{ font-size: 18px; width: 139px; }
.block-subscribe form button.button span{ padding: 6px 10px 7px; }
.block-subscribe form button.button span span{ padding: 0px; }
#checkout-review-submit button.btn-checkout span{ font-size: 16px; }
.cart .discount input.input-text{ width: 140px; }